<div class="page-header">
  <h1>
    Pantry items
    <a href="/pantry_items/new" class="btn btn-lg btn-success">New Pantry item</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Userid</th>
        <th>Food</th>
        <th>Actions</th>
      </tr>

      <% @pantry_items.each do |pantry_item| %>
      <tr>
        <td><%= pantry_item.user.username %></td>
        <td><%= pantry_item.food_id %></td>
        <td>
          <a href="/pantry_items/<%= pantry_item.id %>" class="btn btn-primary">Show</a>
          <a href="/pantry_items/<%= pantry_item.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_pantry_item/<%= pantry_item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
