<div class="page-header">
  <h3>Pantry Item #<%= @pantry_item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Userid</dt>
      <dd>
        <% if @pantry_item.user.present? %>
          <a href="/users/<%= @pantry_item.userid %>">
            <%= @pantry_item.user.username %>
          </a>
        <% end %>
      </dd>

      <dt>Food</dt>
      <dd>
        <% if @pantry_item.food.present? %>
          <a href="/foods/<%= @pantry_item.food_id %>">
            <%= @pantry_item.food.name %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pantry_items" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @pantry_item.user %>
        <a href="/pantry_items/<%= @pantry_item.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_pantry_item/<%= @pantry_item.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
