<div class="page-header">
  <h3>Food #<%= @food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @food.name %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @food.image %>" class="img-responsive show-image"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/foods" class="btn btn-primary">
        Back
      </a>
      <a href="/foods/<%= @food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_food/<%= @food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Food has many pantry_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pantry Items
      </li>

<!--  Displays who has this in their pantry, want to limit this to a boolean of whether current_user has it-->
      <% @food.pantry_items.each do |pantry_item| %>
        <% if pantry_item.userid == current_user.id  %>
          <li class="list-group-item">
            <a href="/pantry_items/<%= pantry_item.id %>">
              <% if @food.name.last == 's' %>
                <%= @food.name %> are in Your Pantry
              <% else %>
                <%= @food.name %> is in Your Pantry
              <% end %>
            </a>
            <div class="btn-group btn-group-xs pull-right">
              <a href="/pantry_items/<%= pantry_item.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
              <a href="/pantry_items/<%= pantry_item.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_pantry_item/<%= pantry_item.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </li>
        <% end %>
      <% end %>

      <li class="list-group-item">
        <form action="/create_pantry_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for userid -->
      <input type="hidden" name="userid" value="<%= current_user.id %>">

      <!-- Label and input for food_id -->
      <input type="hidden" name="food_id" value="<%= @food.id %>">

      <button class="btn btn-block btn-success">
        Add Item to Your Pantry
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Food has many ingredients -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Ingredient for:
      </li>

      <% @food.ingredients.each do |ingredient| %>
        <li class="list-group-item">
          <a href="/ingredients/<%= ingredient.id %>">
            <%= ingredient.recipe.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ingredients/<%= ingredient.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/ingredients/<%= ingredient.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_ingredient/<%= ingredient.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_ingredient" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for food_id -->
      <input type="hidden" name="food_id" value="<%= @food.id %>">

      <!-- Label and input for recipe_id -->
      <div class="form-group">
        <label for="recipe_id" class="control-label">
          Add to One of Your Recipes
        </label>

      </div>

      <button class="btn btn-block btn-success">
        Create Ingredient
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
